<div>
    <h2 class="text-secondary">Academic Manager</h2>
</div>

<div class="mt-4">
<table class="table text-secondary">
    <thead>
        <tr>
            <th>Claim Number</th>
            <th>Lecturer</th>
            <th>Documentation</th>
            <th>Total overtime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Lecturer</td>
            <td>Example.docx</td>
            <td>10 hours</td>
            <td>
                <button class="btn btn-outline-primary btn-close-white text- mb-3">Accept</button>
                <a class="btn btn-danger mb-lg-3" asp-controller="Manager" asp-action="Reject">Reject</a>
            </td>
        </tr>

    </tbody>
</table>
</div>