<form>
    <div class="mb-4">
        <label class="form-label">Reason for rejecting</label>
        <textarea class="form-control"></textarea>
    </div>
    <a class="btn btn-secondary" asp-area="" asp-controller="Manager" asp-action="Index">Back</a>
    <button class="btn btn-danger">Reject</button>
</form>