<div class="container mt-5">
    <form>
        <div class="mb-4">
            <label class="form-label">Overtime hours</label>
            <input class="form-control" >
        </div>

        <div class="mb-3">
            <label class="form-label">Upload supporting docs</label>
            <input class="form-control" type="file">
        </div>

        <button class="btn btn-primary me-2">Submit</button>
        <a class="btn btn-secondary" asp-area="" asp-controller="Claims" asp-action="Index">Back</a>
    </form>
</div>